# OS
.DS_Store
Thumbs.db

# Node/Editor helpers (future tooling)
node_modules/
dist/

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/
Recordings/
Sysinfo.txt

# Visual Studio / JetBrains
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.unityproj
*.booproj
*.pidb
*.svd

# Addressables build output
ServerData/
